{
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "extends": [
        "airbnb-base",
        "airbnb-typescript/base",
        "plugin:sonarjs/recommended-legacy",
        "prettier"
    ],
    "plugins": ["sonarjs"],
    "rules": {
        "@typescript-eslint/consistent-type-imports": 2,
        "@typescript-eslint/lines-between-class-members": 0,
        "import/extensions": [0, "never"],
        "import/prefer-default-export": 0,
        "import/no-default-export": 2,
        "no-param-reassign": 0,
        "no-constructor-return": 0,
        "no-restricted-syntax": 0,
        "no-console": 0,
        "class-methods-use-this": 0,
        "consistent-return": 0
    },
    "ignorePatterns": ["dist"]
}
