{
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "extends": [
        "airbnb-base",
        "airbnb-typescript/base",
        "plugin:sonarjs/recommended-legacy",
        "prettier"
    ],
    "plugins": ["sonarjs"],
    "rules": {
        "@typescript-eslint/lines-between-class-members": 0,
        "import/prefer-default-export": 0
    }
}
